@import "../../assets/less/variables.less";

:host {
  width: 250px;
  min-height: 250px;
  border: 1px solid @divider;
  border-radius: 6px !important;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  
  margin: 30px;

  box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.11);

  .city-name {
    flex-grow: 1;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @font-dark;
    border-bottom: 1px solid @divider;
    font-size: 1.2em;
    box-sizing: border-box;
    padding: 12px;
  }

  .city-temperature {
    flex-grow: 1;
    width: 100%;
    height: 140px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @temp-medium;
    font-size: 6.0em;
    box-sizing: border-box;
    padding: 10px;
  }

  .city-error {
    flex-grow: 1;
    width: 100%;
    height: 180px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      font-size: 1em;
      color: @temp-hot;
    }
    button {
      color: @font-dark;
      border: 2px solid @font-dark;
      border-radius: 50px;
      padding: 10px;
      font-size: 1em;
      background-color: white;
      margin-top: 20px;
      cursor: pointer;
    }
  }

  .city-details {
    flex-grow: 1;
    width: 100%;
    background-color: @card-footer-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        text-transform: uppercase;
        color: @font-light;
        font-size: 0.75em;
        padding-bottom: 5px;
      }
      .content {
        color: @font-dark;
        font-size: 1em;
      }
    }
  }

  .city-updated-at {
    box-sizing: border-box;
    padding: 10px 0px 15px 0px;
    flex-grow: 1;
    width: 100%;
    background-color: @card-footer-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @font-light;
    font-size: .75em;
  }

  .red {
    color: @temp-hot;
  }

  .orange {
    color: @temp-medium;
  }

  .blue {
    color: @temp-low;
  }

}